# General
yarn-error.log
node_modules
.DS_STORE

# Foundry files
cache/
out/
out-via-ir/
broadcast/

# Config files
.env

# Avoid ignoring gitkeep
!/**/.gitkeep

# Avoid ignoring latest deployment to mainnet
!broadcast/1/latest-*

# Avoid ignoring external contract ABIs
!out/Greeter.sol/*
