name: Canary Release

on: workflow_dispatch

jobs:
  export:
    name: Generate Interfaces And Contracts
    # Remove the following line if you wish to export your Solidity contracts and interfaces and publish them to NPM
    if: false
    runs-on: ubuntu-latest
    strategy:
      matrix:
        export_type: ['interfaces', 'contracts']

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          registry-url: 'https://registry.npmjs.org'
          node-version: 18.x
          cache: 'yarn'

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Build project and generate out directory
        run: yarn build

      - name: Update version
        run: yarn version --new-version "0.0.0-${GITHUB_SHA::8}" --no-git-tag-version

      - name: Export Solidity - ${{ matrix.export_type }}
        uses: defi-wonderland/solidity-exporter-action@v2.0.0
        with:
          # Update package_name with your package name
          package_name: 'my-cool-project'
          out: 'out'
          interfaces: 'src/interfaces'
          contracts: 'src/contracts'
          export_type: '${{ matrix.export_type }}'

      - name: Publish to NPM - ${{ matrix.export_type }}
        # Update `my-cool-project` with your package name
        run: cd export/my-cool-project-${{ matrix.export_type }} && npm publish --access public --tag canary
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
